{% extends 'base.html' %}

{% block title %}Items{% endblock %}

{% block body %}

	<h1>Events</h1>

    <p>
    	<a class="btn btn-primary" href="/items/new">Add attendance</a>
	</p>
	<ul class="nav nav-tabs">
	  <li role="presentation" class="active"><a href="#">Recent Days</a></li>
	  <li role="presentation"><a href="/items/rating">Best Ratings</a></li>
	  <li role="presentation"><a href="/items/titles">Regular Subjects</a></li>
	</ul>
	<br>
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Did you know?</h3>
	  </div>
	  <div class="panel-body">
	  	{% set difference = date("now"|date("Y/m/d")).diff(date(insight.date|date("Y/m/d"))) %}
		{% set ago = difference.days %}
	    Your best rated day  
		{% if ago == 0 %}
			is Today
		{% elseif ago == 1 %}
		 	was Yesterday
		{% else %}
			was {{ ago }} days ago
		{% endif %}
		({{ insight.stars }} stars).
	    {% if ago > 4 %}
	    	Time to make some new memories?
	    {% endif %}
	  </div>
	</div>
    {% for itemsByGroup in items %}
    <div class="list-group">
    	<div class="list-group-item">
    		{% set difference = date("now"|date("Y/m/d")).diff(date(itemsByGroup[0].date|date("Y/m/d"))) %}
			{% set ago = difference.days %}
			{% if ago == 0 %}
				Today
			{% elseif ago == 1 %}
			 	Yesterday
			{% else %}
				{{ ago }} days ago
			{% endif %}
			{% if stat["counts"][itemsByGroup[0].date] > 1 %}
				<!-- <span class="badge">
						{{ stat["counts"][itemsByGroup[0].date] }} <i class="fa fa-check-circle"></i>	       
				</span> -->
				<span class="badge">
						{{ stat["averages"][itemsByGroup[0].date] }} <i class="fa fa-star"></i> average	       
				</span>
				<span class="badge">
						{{ stat["totals"][itemsByGroup[0].date] }} <i class="fa fa-star"></i> total	       
				</span>
				{% endif %}
    	</div>

    	{% for item in itemsByGroup %}
    	<div class="list-group-item">
	        <div class="media">
	        	<div class="media-left">
	        		<i style="color:lightgreen" class="fa fa-check-circle"></i>
	        	</div>
	        	<div class="media-body">
	        		<h4 class="media-heading">{{ item.name }}</h4>
	        		<p>
	        			{% set rating = item.rating - 1 %}
	        			{% for i in 0..item.rating %}
	        				<i class="fa fa-star"></i> 
	        			{% endfor %}
	        			{{ item.review }}
	        		</p>
	        		<p></p>
	        	</div>
	        </div>
	    </div>
    	{% endfor %}
	</div>
	{% endfor %}

{% endblock %}
