{% extends 'base.html' %}

{% block title %}Items{% endblock %}

{% block body %}

	<h1>Events</h1>

    <p>
    	<a class="btn btn-primary" href="/items/new">Add attendance</a>
	</p>
    <ul class="nav nav-tabs">
	  <li role="presentation" ><a href="/items/index">Recent Days</a></li>
	  <li role="presentation" class="active"><a href="#">Best Ratings</a></li>
	  <li role="presentation" ><a href="/items/titles">Regular Subjects</a></li>
	</ul>
	<br>
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Did you know?</h3>
	  </div>
	  <div class="panel-body">
	    Your highest rated subject is {{ insight.subject }} with an average {{ insight.stars }} star rating.
	    {% if insight.stars < 3 %}
	    	Could do better?
	    {% elseif insight.stars > 3 %}
	    	Worth doing that again?
	    {% endif %}
	  </div>
	</div>
    {% for itemsByGroup in items %}
    <div class="list-group">
    	<div class="list-group-item">
    		{% set rating = itemsByGroup[0].rating - 1 %}
			{% for i in 0..itemsByGroup[0].rating %}
				<i class="fa fa-star"></i> 
			{% endfor %}
			{% if stat["counts"][itemsByGroup[0].rating] > 1 %}
				<span class="badge">
						{{ stat["counts"][itemsByGroup[0].rating] }} <i class="fa fa-check-circle"></i>	       
				</span>
				<span class="badge">
						{{ stat["totals"][itemsByGroup[0].rating] }} <i class="fa fa-star"></i> total	       
				</span>
			{% endif %}
    	</div>

    	{% for item in itemsByGroup %}
    	<div class="list-group-item">
	        <div class="media">
	        	<div class="media-left">
	        		<i style="color:lightgreen" class="fa fa-check-circle"></i>
	        	</div>
	        	<div class="media-body">
	        		<h4 class="media-heading">{{ item.name }}</h4>
	        		<p>{{ item.review }}</p>
        			<small>
	        			{% set difference = date("now"|date("Y/m/d")).diff(date(item.date|date("Y/m/d"))) %}
						{% set ago = difference.days %}
						{% if ago == 0 %}
							Today
						{% elseif ago == 1 %}
						 	Yesterday
						{% else %}
							{{ ago }} days ago
						{% endif %}
					</small>
	        	</div>
	        </div>
	    </div>
    	{% endfor %}
	</div>
	{% endfor %}

{% endblock %}
